.wizard_errortext, 
p#ajax_error 
{
	color:red;
}

.wizard_oktext 
{
	color:green;
	font-weight:bold;
}

.wizard_smalltext
{
	color:#215587;
	font-family:Verdana;
	font-size:9pt;
}

.wizard_title
{
	color:#215587;
	font-size:14pt;
	font-weight:bold;
} 

.wizard_step
{
	color:#215587;
	font-size:12pt;
} 

.wizard_sections
{
	margin-top:4px;
	margin-bottom:4px;
}

.wizard_field_name
{
	font-weight:bold;
	margin-bottom:4px;
}

/*---------------------Общий стиль---------------------*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  border: 0px;
  font-size: 14px;
}

/*---------------------Тексты---------------------*/
.name{ /*Название блока (3 шт)*/
  color: #00275b;
  font-size: 20px;
  padding: 5px;
  margin: 0;
  font-weight: bold;
  padding-left: 0px;
}
.name_1{ /*Название в блоке*/
  color: #00275b;
  font-size: 18px;
  padding: 0;
  width: 100%;
  display: flex;
	z-index: 9;
}
.contract{
  color: #00275b;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%;
}
/*---------------------Блоки---------------------*/

.all_blocks{
  float: left;
  display: flex;
  /*width: 100%;*/
  min-width: 350px;
  flex-direction: column;
  padding: 15px;
}
.big_block{
  display: flex;
  flex-direction: column;
}
.block{ /*Таких блоков должно быть 5*/
  display: inline-block;
  flex-direction: column;
    padding: 0 20px 0 0;
    width: 100%;
}
div#sostav_suda, 
.block_part .form_arb, 
div#isk {
    margin: 9px 0 0 0;
}
.little_block{
  display: flex;
  flex-direction: row;
}
.block_valut{
  flex-direction: row;
	margin: 5px 0 0 0;
}
.trebovania{
  display: flex;
  border: 1px dashed #00275b;
  flex-direction: column;
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
}
#for_summas{
  display: flex;
  flex-direction: column;
}
.summa{ /*Таких блоков должно быть 4*/
  float: none;
  flex-direction:row; 
  display: flex;
}
.block_valut .chislo_box, .form.exchange_date{
  margin-left: 0;
}
.button_block{
  flex-direction: row;
  margin-bottom: 20px;
}
.form.chislo_box, .block .block_exchange_date {
    width: 230px;
}
div.form span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    color: #747474;
    position: absolute;
    pointer-events: none;
	transition: 0.3s;
	width: 13em;
}
.chislo_box > input::placeholder,
.exchange_date > input::placeholder {
  color: transparent;
}
.chislo_box input:valid ~ span,
.chislo_box input:focus ~ span,
.chislo_box > input:not(:placeholder-shown) ~ span,
.exchange_date input:valid ~ span,
.exchange_date input:focus ~ span,
.exchange_date > input:not(:placeholder-shown) ~ span {
	  background-color: #ffffff;
	  font-size: 12px;
	  transform: translateX(-2px) translateY(-16px);
    padding: 5px 0.3em 2px 5px;
    width: auto;
}
.chislo_box input:valid,
.chislo_box input:focus, 
.exchange_date input:valid,
.exchange_date input:focus {
  border: 1px solid #00275b;
}

.chislo_box_proverka input{ /*ПОСЛЕ ПРОВЕРКИ*/
  background-color: #fdc9c9;
  border: 1px solid #ff8e8e;
}

.chislo_box_proverka input:valid,
.chislo_box_proverka input:focus{
  background-color: #ffffff;
  border: 1px solid #00275b;
}

.form::-webkit-inner-spin-button { 
  display: none;
}
.form_arb{
  width: 320px;
  float: left;
  display: block;
  flex-direction: column;
  padding: 0px;
}
div.form_arb label {
    font-size: 1em;
    display: block;
    width: fit-content;
}
select{
  -moz-outline: none;
  -webkit-outline: none;
  outline: none; 
  /*-moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;*/

  height: 36.5px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #00275b;
}
select:focus{
  outline:none;
}
.chislo_box input,
.chislo_box span,
input#exchange_date, 
#USD, 
#EUR,
select.form_valuta, 
.exchange_date span {
  padding: 10px 0 2px 5px;
  outline: none;
  transition: 0.3s;
  margin: 10px 10px 7px 0; 
  font-size: 1.2em;
	border-radius: 0;
}
input#exchange_date {
  border: 1px solid #00275b;
}
.form, select {
	width: 16em;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.block_for_results{
  display: none;
  align-self: flex-start;
  background-color: #e4e4e4;
  border:  1px solid #bbbbbb;
  height: fit-content;
  max-width: 600px;
  min-width: 350px;
  padding: 20px;
  margin: 0;
  font-size: 16px;
  text-align: end;
}
.block_for_results .name{
  padding: 0;
}
.big_block_for_results{
  margin-top: 11px;
  display: none;
  width: fit-content;
}
.little_block{
  margin: 15px;
  margin-left: 0;
}
#apell_block{
  /* visibility: hidden; */
  display: none;
}
.paranetrs{
  font-size: 16px;
  margin-top: 10px;
}
.check{ 
  margin-top: 0;
}
/*---------------------Кнопки---------------------*/
.button{
  display: flex;
  text-align: center;
  float: right;
  position: static;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: #00275b;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 3px;
}
.button.underline:hover {
	text-decoration: underline;
}
.button_2{
  width: fit-content;
  font-size: 14px;
  padding: 10px 5% 10px 10px;
  margin: 0;
}
.del_button{
  visibility: hidden;
  text-align: center;
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #ff333d;
	margin-top: 5px;
    line-height: 1.5;
	font-size: 1.2em;
}
.del_button_visible{
  visibility: visible;
}
.del_button:hover{
  background: #ffffff;
  border: 2px solid #ff333d;
  color: #d6000b;
}
.del_b_button{
  visibility: visible;
  /*display: none;*/
  width: 40px;
  float: right;
  text-align: center;
  background: #ffffff; 
  color: #ff333d;
  font-size: 26px;
  padding: 0px;
  margin: 0px;
  border: none;
}
.del_b_button:hover{
  color: #d6000b;
}
.clear_result{
  padding: 0;
  background: #ffffff;
  border: 0px;
  color: #00275b;
  align-self: end;
}
.clear_result:hover{
  background: #ffffff;
  border: 0px;
}
.clear_button{
  font-size: 26px;
  color: #ff333d;
}
.clear_button_text{
  display: flex;
  align-self: center;
  margin-left: 10px;
}
.save_result{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.main_result{
  font-weight: bold;
  color: #00275b;
  text-align: end;
  font-size: 18px;
}
.razdelitel{
  height: 1px;
  background-color: #000000;
}
.save_result_button{
  margin: 10px;
}
.save_strelka{
  font-size: 18px;
  margin: 6px;
  margin-left: 0;
}
.blue{
  color:#01449b;
  text-align: end;
  font-size: 16px;
}

.workarea-content-paddings {
  overflow-x: visible;
  overflow-y: visible;
}

.log-popup{ 
  min-width: 800px;
  max-width: min-content;
}
.log-popup-wrap .log-popup {
  display: block;
  margin: 0 auto;
}
.log-popup-caption-wrap {
  bottom: auto;
  left: 0;
  height: 1px;
  position: absolute;
  width: 100%;
}
.wrapper{
  display: block;
}
.form:focus{
  box-shadow: 0 0 0 3px rgb(184, 206, 236);
  transition: 0.1s;
  outline: none;
}
input[type=radio]{
  accent-color: #00275b;
  margin-right: 5px;
}
input[type=checkbox]{
  accent-color: #00275b;
  margin-right: 5px;
}
@media (min-width: 1060px) {
  .all_blocks{
    flex-direction: row;
  }
  .clear_result{
    margin-top: 0;
  }
}

@media (max-width: 1060px) {
  .all_blocks{
    flex-direction: column;
  }
  .big_block{
    margin-bottom: 10px;
  }
  .block_for_results{
    margin: 0;
    margin-top: 10px;
  }
  .trebovania{
    margin-bottom: 10px;
    width: 96%;
  }
  .clear_result{
    margin-left: 0px;
    margin-top: 0px;
  }
  .big_block_for_results{
    margin-top: 0px;
  }
}


@media (max-width: 1024px){
.trebovania {
    width: 96%;
	}
}

@media (max-width: 800px) {
  .trebovania{
    margin-bottom: 10px;
    width: 90%;
  }
  .little_block{
    flex-direction: column;
    margin: 10px;
    margin-left: 0;
  }
	.button
  .del_button{
    font-size: 16px;
	padding: 10px 0 0 0;
    margin: 5px 0 0 -7px;
  }
  .del_b_button{
    font-size: 22px;
    margin: -3px;
  }
  .form, .form_1{
    margin: 5px;
  }
  .name{
    margin: 5px;
    margin-left: 0px;
    font-size: 16px;
  }
  .name_1{
    font-size: 16px;
    align-items: flex-start;
  }
  .contract{
    font-size: 16px;
  }
  .block_for_results{
    padding: 10px;
    font-size: 14px;
  }
  select, .form input{
    height: 33px;
  }
}

@media (max-width: 677px) {
  .del_button {
	  padding: 5px 0;
  }
}
@media (max-width: 654px) {
	.trebovania {
    	width: 100%;
	}
	.del_button {
		padding: 5px 0;
	}
}
@media (max-width: 606px) {
  .name{
    margin: 5px;
    margin-left: 0px;
    font-size: 16px;
    padding: 0;
  }
  .name_1{
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0;
    display: flex;
    align-items: flex-start;
  }
  .block{ /*Таких блоков должно быть 5*/
    margin-bottom: 5px;
  }
  .trebovania{
    margin-bottom: 5px;
    width: 100%;
  }
  .chislo_box span{
    margin: 7px;
  }
  .form, .form_1, 
  .form.chislo_box, .block .block_exchange_date{
    width: 215px;
    font-size: 12px;
  }
  select{
    font-size: 12px;
    height: 33px;
  }
  option{
    font-size: 12px;
  }
  .button{
    font-size: 14px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .button_2{
    max-width: 100%;
    padding: 5px;
  }
  .block_for_results{
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .del_button{
	font-size: 1.1em;
    margin: 10px 0 0 -1em;
  }
  .del_b_button{
	font-size: 1.4em;
  }
}
@media (max-width: 570px) {
	.del_button {
		padding: 0;
	}
}
@media (max-width: 548px) {
.form, .form_1, .form.chislo_box, .block .block_exchange_date {
    width: 17em;
	}
	.del_button {
    margin: 10px 0 0 0;
    float: left;
	}
}
@media (max-width: 542px) {
.form, .form_1, .form.chislo_box, .block .block_exchange_date {
    width: 16em;
  }
}
@media (max-width: 522px) {
	.del_button {
		margin: 10px 0 0 -1em;
  }
}
@media (max-width: 514px) {
	.form, .form_1, .form.chislo_box, .block .block_exchange_date {
		width: 16em;
	}
	.del_button{
		margin: 10px 0 0 -1em;
	  }
}
@media (max-width: 502px) {
	.del_button {
		margin: 15px 0 0 -.7em;
	}
	.form, .form_1, .form.chislo_box, .block .block_exchange_date {
   		width: 15em;
	}
}
@media (max-width: 480px){
	.del_button {
    	margin: 10px 0 0 -1em;
	}
	.form.form_1 {
		width: 14em;
	}
}
@media (max-width: 466px) {
	.summa .form.chislo_box, .summa .form.form_1 {
		  width: 90%;
	}
	input#number, select#value {
    	width: 90%;
	}
}
@media (max-width: 450px) {
  .name{
    margin: 5px;
    margin-left: 0px;
    font-size: 14px;
  }
  .name_1{
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0;
    display: flex;
    align-items: flex-start;
  }
  .contract{
    font-size: 14px;
  }
  .all_blocks{
    margin: 0px;
    max-width: 425px;
  }
  .block{
    margin-bottom: 0px;
  }
  .trebovania{
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
    max-width: 100%;
  }
  .form, .form_1, .form.exchange_date {
    width: 14em;
  }
  .block_for_results {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .chislo_box span {
    font-size: 11px;
  }
  .chislo_box input:valid ~ span, 
  .chislo_box input:focus ~ span {
    font-size: 11px;
    transform: translateX(-2px) translateY(-12px);
  }
  .button, .del_button {
    font-weight: normal;
  }
}
@media (max-width: 380px) {
	.all_blocks {
    	max-width: 370px;
	}
}
@media (max-width: 360px) {
	.all_blocks {
    	max-width: 350px;
	}
}